<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading data...</p>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title *ngIf = "!hasError">Temperture in {{city}} is {{(weatherData$ | async).temperature | number :'1.0-0'}}°</mat-card-title>
      <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
      <mat-card-subtitle *ngIf = "!hasError"><img [src]="image">{{description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <a routerLink="/city" routerLinkActive="active">Select city</a>
      <p>country:{{country}}</p>
      <p>longitude:{{lon}}</p>
      <p>latitude:{{lat}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>